{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Booking Table Section Start Here -->
    <section class="booking-table padding-tb">
        <div class="container">
            <div class="section-header">
                <img src="{% static 'images/header/sc-img.png'%}" alt="sc-img" class="header-img">
                <span>Book a Online Table</span>
                <h2>Reservation Choose Your Table</h2>
            </div>
            <div class="section-wrapper">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="bg-table"></div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="contact-form">
                            <form method="post">
                                {{ form.non_field_errors }}
                                {% csrf_token %}
                                 {% for f in form %}
                                     {{ f }}
                                     {{ f.errors }}
                                 {% endfor %}
                                <button type="submit" class="food-btn style-2"><span>book a table</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Booking Table Section Ending Here -->
{% endblock %}
