{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
        <!-- banner section satrt here -->
        <section class="banner-area bg_size" style="background-image: url({% static 'css/bg-image/banner-bg.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="banner-content text-center">
                    <span>Welcome to our foodbuzz</span>
                    <h2>It's The Food You Love</h2>
                    <div class="banner-btn-group">
                        <a href="{% url 'shop' %}" class="food-btn"><span>Order Now</span></a>
                        <a href="#reservation" class="food-btn style-2 internal-link"><span>Book A Table</span></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner section ending here -->



		<!-- About Section Start here -->
		<section class="about padding-tb">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6 col-12">
                        <div class="about-thumb">
                            <img src="{% static 'images/about/01.png' %}" alt="about-food">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="about-content">
                            <div class="section-header">
                                <span>Welcome FoodBuzz</span>
                                <h3>About Restaurant History!</h3>
                            </div>
                            <div class="section-wrapper">
                                <p>Synergistca conceptualize leveraged inte ectual capital through virtual and the a and Proactiviely initiate lrisk highyield a platforms after realtme froms growth that awesome tently matrix robusti method powerm foistcky Sytical concepta leved ntelectua anding capita hrough virtua nteectua that capta  the and Proactiviely initiate low risk highyield platforms after realtme froms that there andin Proctive initate low risk high yeld platform aftering Conven iterate optimal paradigms reliable techno</p>
                                <a href="{% url 'contact' %}" class="food-btn style-2"><span>get diraction</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- About Section Ending here -->

		<!-- Food Product Section Start here -->
        <section class="product bg_size p-rel padding-tb" style="background-image: url({% static 'css/bg-image/product-bg.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="section-header">
                    <img src="{% static 'images/header/sc-img.png' %}" alt="sc-img" class="header-img">
                    <span>Special Today</span>
                    <h2>Restaurant With Special Foods</h2>
                </div>
                <div class="section-wrapper">
                    <div class="row">
                        {% for special_product, product_image in special_products_with_image %}
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="{{ product_image.image.url }}" alt="food-product">
                                        <span class="price">${{ special_product.price }}</span>
                                    </div>
                                    <div class="product-content">
                                        <p>{{ special_product.category.title }}</p>
                                        <h6><a href="{% url 'product' special_product.slug %}">{{ special_product.title }}</a></h6>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Food Product Section Ending here -->

        <!-- Food Product Section Style 2 Start here -->
        <section class="product style-2 padding-tb" style="background-image: url({% static 'css/bg-image/product-2.jpg' %});">
            <div class="container">
                <div class="section-header">
                    <img src="{% static 'images/header/sc-img.png' %}" alt="sc-img" class="header-img">
                    <h2>Our Tasty Menu</h2>
                </div>
                <div class="section-wrapper">
                    <ul class="tab-bar">
                        {% for category, _ in products_with_image_by_category %}

                            {% if forloop.first %}
                                <li class="tablinks" id="defaultOpen" onclick="openCity(event, '{{ category.slug }}')">
                            {% else %}
                                <li class="tablinks" onclick="openCity(event, '{{ category.slug }}')">
                            {% endif %}

                                    <img src="{% static 'images/product/icon/01.png' %}" alt="food-product">
                                    <span>{{ category.title }}</span>
                                </li>

                        {% endfor %}
                    </ul>
                    {% for category, products_with_image in products_with_image_by_category %}
                        <div id="{{ category.slug }}" class="tabcontent">
                            <div class="row no-gutters">
                                {% for product, product_image in products_with_image %}
                                    <div class="col-lg-6 col-12">
                                        <div class="product-item style-2">
                                            <div class="product-thumb">
                                                <img src="{{ product_image.image.url }}" alt="food-product">
                                                <span class="price">${{ product.price }}</span>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <h6><a href="{% url 'product' product.slug %}">{{ product.title }}</a></h6>
                                                </div>
                                                <div class="product-desc">
                                                    <p>{{ product.description | truncatewords:15 }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- Food Product Section Style 2 Ending here -->

        <!-- Booking Table Section Start Here -->
        <section class="booking-table padding-tb" id="reservation">
            <div class="container">
                <div class="section-header">
                    <img src="{% static 'images/header/sc-img.png'%}" alt="sc-img" class="header-img">
                    <span>Book a Online Table</span>
                    <h2>Reservation Choose Your Table</h2>
                </div>
                <div class="section-wrapper">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-12">
                            <div class="bg-table"></div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="contact-form">
                                <form method="post" action="{% url 'reservation' %}">
                                {% csrf_token %}
                                     {% for f in form %}
                                         {{ f }}
                                     {% endfor %}
                                    <button type="submit" class="food-btn style-2"><span>book a table</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Booking Table Section Ending Here -->
{% endblock content %}