{% extends 'base.html' %}
{% load static %}
{% block content %}



     <section class="contact-information padding-tb">
        <div class="container">
            <div class="section-wrapper">
                <div class="row">
                    <div class="col-lg-6 col-12"></div>
                    <div class="col-lg-6 col-12">
                        <h5>Register</h5>
                        {{ form.non_field_errors }}
                        <form class="d-flex flex-wrap justify-content-between" method="post">
                            {% csrf_token %}
                            {% for f in form %}
                                {{ f }}
                                {{ f.errors }}
                            {% endfor %}
                            <button type="submit" class="food-btn style-2"><span>Register</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
