{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Food Product Section Style 2 Start here -->
    <section class="product style-2 padding-tb">
        <div class="container">
            <div class="section-wrapper">
                {% for category, products in products_by_category%}
                    <hr>
                    <div class="foodlist-item" id="{{ category.slug }}">
                    <div class="tab-bar">
                        <img src="{{ category.image.url }}" alt="product-bg">
                    </div>
                    <div class="tabcontent">
                        <div class="row no-gutters justify-content-center">
                            {% for product in products %}
                                <div class="col-lg-6 col-12">
                                <div class="product-item style-2">
                                    <div class="product-thumb">
                                        <img src="{{ product.image.image.url }}" alt="food-product">
                                        <span class="price">${{ product.price }}</span>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <h6><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h6>
                                        </div>
                                        <div class="product-desc">
                                            <p>{{ product.description|truncatewords:15 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Food Product Section Style 2 Ending here -->
{% endblock content %}