{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Popular Home Chef Section Start Here -->
    <div class="shop-page single padding-tb pb-0" style="margin-bottom: 10rem;">
        <div class="container">
            <div class="section-wrapper">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-12">
                        <article>
                            <div class="shop-single">
                                <div class="row justify-content-center">
                                    <div class="col-md-6 col-12">
                                    {% if images|length != 1%}
                                        <div class="swiper-container gallery-top">
                                    {% else %}
                                        <div>
                                    {% endif %}
                                            <div class="swiper-wrapper">
                                                {% for image in images %}
                                                    <div class="swiper-slide">
                                                        <div class="shop-item">
                                                            <div class="shop-thumb">
                                                                <img src="{{ image.image.url }}" alt="shop-single">
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if images|length != 1%}
                                            <div class="swiper-container gallery-thumbs">
                                                <div class="swiper-wrapper">
                                                    {% for image in images %}
                                                        <div class="swiper-slide">
                                                            <div class="shop-item">
                                                                <div class="shop-thumb">
                                                                    <img src="{{ image.image.url }}" alt="shop-single">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="shop-single-content">
                                            <div class="title">
                                                <h5><a href="{% url 'product' product.slug %}">{{ product.title }}</a></h5>
                                                <div class="p-food-group">
                                                    <span>Type of food : <a href="{% url 'menu' %}#{{ product.category.slug }}">{{ product.category.title }}</a></span>
                                                </div>
                                            </div>
                                            <div class="desc">
                                                <p>{{ product.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xl-4 col-md-5 col-12">
                        <aside>
                            <div class="popular-chef-widget">
                                <div class="food-quyality">
                                    <div class="section-wrapper">
                                        <h5>${{ product.price }}.00</h5>
                                        <p>Quantity</p>
                                        <label>
                                            <input class="quantity" type="number" placeholder="0" >
                                        </label>
                                        <button class="food-btn style-2"><span>Add to Cart</span></button>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Home Chef Section Ending Here -->

{% endblock content %}