{% extends 'base.html' %}
{% load static %}
{% block content %}


     <!-- Contact Us Section Start Here -->
     <section class="contact-information padding-tb pb-xl-0">
        <div class="container">
            <div class="section-wrapper">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h5>Contact Information</h5>
                        <div class="post-item">
                            <div class="post-content">
                                <h6>office adress</h6>
                                <p>Suite 02, Level 12, Sahera Tropical Center 218</p>
                                <p>New Elephant Road, Dhaka - 1205</p>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-content">
                                <h6>phone number : </h6>
                                <p>+8801678170593, 01919-264687</p>
                                <p>02-9611936</p>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-content">
                                <h6>email adress : </h6>
                                <p>support@foodbuzz.com</p>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-content">
                                <h6>website adress</h6>
                                <p>http://foodbuzz.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <h5>Send Us A Message</h5>
                        <form class="d-flex flex-wrap justify-content-between" method="post">
                            {% csrf_token %}
                            {% for f in form %}
                                {{ f }}
                            {% endfor %}
                            <button type="submit" class="food-btn style-2"><span>Submit Message</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us Section Ending Here -->


    <!-- G-Map Section Start Here -->
    <div class="gmaps-section">
        <div class="map-area">
            <iframe src="https://maps.google.com/maps?q=new%40codexcoder&t=&z=17&ie=UTF8&iwloc=&output=embed" style="border:0" allowfullscreen></iframe>

        </div>
    </div>
    <!-- G-Map Section Ending Here -->
{% endblock content %}
